/* animations.css */
/* animations.css */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 2s forwards; /* Adjust duration as needed */
  }
  
