/* src/styles/styles.css */

/* Page styles */
body {
    /* color: #232129; */
    padding: 0px;
    margin: 0px
    /* font-family: -apple-system, Roboto, sans-serif, serif; */
  }
  
  /* Heading styles */
  h1 {
    margin-top: 0;
    margin-bottom: 64px;
    max-width: 320px;
  }
  
  h1 span {
    color: #663399;
  }
  
  /* Paragraph styles */
  p {
    margin-bottom: 48px;
  }
  
  /* Code styles */
  code {
    color: #8a6534;
    padding: 4px;
    background-color: #fff4db;
    font-size: 1.25rem;
    border-radius: 4px;
  }
  
  /* List styles */
  ul {
    margin-bottom: 96px;
    padding-left: 0;
  }
  
  li {
    font-weight: 300;
    font-size: 24px;
    max-width: 560px;
    margin-bottom: 30px;
  }
  
  /* Link styles */
  a {
    color: #8954a8;
    font-weight: bold;
    font-size: 16px;
    vertical-align: 5%;
  }
  
  /* Doc link styles */
  .doc-link {
    list-style-type: none;
    margin-bottom: 24px;
  }
  
  /* Description styles */
  .description {
    color: #232129;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.25;
  }

  /* 
   Scrapbook Page Properties
   */
  .scrapbook-viewer {
    padding: 0;
    margin: 0;
  }
   
  .scrapbook-desktop {
    background-image: url(../images/assets/desk_background.jpg);
    width: 100 vw;
    height: 100 vh;
    margin: 0;
    padding: 0;
  } 

  .scrapbook-cover {
    background-image: url(../images/assets/scrapbook_cover_background.jpg);
    background-size: cover;
    margin:auto;
    text-align: center;
    @media (orientation: landscape) {
      height: 100vh;
    }
    @media (orientation: portrait) {
      width: 100vw;
    }
    aspect-ratio: 4 / 3;
  }

  .scrapbook-cover-text-container {
    margin-top: 49vh;
    font-family: cursive;
  }
  